.tag {
  background-color: #ecf5ff;
  display         : inline-block;
  height          : 32px;
  padding         : 0 10px;
  line-height     : 30px;
  font-size       : 12px;
  color           : #409eff;
  border          : 1px solid #d9ecff;
  border-radius   : 4px;
  box-sizing      : border-box;
  white-space     : nowrap;
}

.tag i{
  cursor: pointer;
  margin-left: 2px;
  padding: 1px;
}

.tag i:hover{
  outline: 0;
  color: #fff;
}

.tag-success {
  background-color: #fff;
  border-color    : #c2e7b0;
  color           : #67c23a;
}

.tag-success i:hover{
  background-color: #67c23a;
}

.tag-danger {
  background-color: #fff;
  border-color    : #fbc4c4;
  color           : #f56c6c;
}

.tag-danger i:hover{
  background-color: #f56c6c;
}

.tag-focus {
  background-color: #409eff;
  color           : #fff;
  border-color    : #409eff;
}

.tag-focus i:hover{
  background-color: #fff;
  color: #409eff;
}