.add {
  background-color: var(--bgColor);
  width           : var(--asideWidth);
  position        : fixed;
  bottom          : 0;
  cursor          : pointer;
  box-shadow      : 0 1px 6px 3px rgb(32 33 36 / 28%);
  height          : 35px;
  line-height     : 35px;
  left            : var(--asideLeft);
  transition      : left 0.4s;
}

.aside-folder .add {
  left: 0;
}

.aside {
  height  : calc(100% - 35px);
  overflow: auto;
}

.add i {
  font-size: 22px;
}

.apis {
  padding              : 10px;
  display              : grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap                  : 5px;
}

.apis * {
  cursor: pointer;
}

.add-api-box-container {
  position        : fixed;
  top             : 0;
  right           : 0;
  bottom          : 0;
  left            : 0;
  z-index         : 2000;
  height          : 100%;
  background-color: rgba(0, 0, 0, .5);
  overflow        : auto;
  transition      : 0.3s;
}

.add-api-box {
  position     : relative;
  margin       : 0 auto 50px;
  background   : #fff;
  border-radius: 2px;
  box-shadow   : 0 1px 3px rgb(0 0 0 / 30%);
  box-sizing   : border-box;
  width        : 60%;
  margin-top   : 15vh;
  padding      : 10px;
}

@media only screen and (max-width: 800px) {
  .add-api-box {
    width: 90%;
  }
}

.add-api-box-title {
  padding-left: 5px;
  text-align  : start;
  line-height : 24px;
  font-size   : 18px;
  color       : #303133;
}

.add-api-box-content {
  margin: 10px 0;
}

.add-api-box-input textarea {
  display         : block;
  resize          : vertical;
  padding         : 5px 15px;
  line-height     : 1.5;
  box-sizing      : border-box;
  width           : 100%;
  font-size       : 14px;
  color           : #606266;
  background-color: #fff;
  background-image: none;
  border          : 1px solid #dcdfe6;
  border-radius   : 4px;
  transition      : border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  min-height      : 350px;
}

.add-api-box-input textarea:focus {
  outline     : none;
  border-color: #409eff;
}

.add-api-box-footer {
  text-align: end;
}

.btn {
  color                : #fff;
  background-color     : #409eff;
  border-color         : #409eff;
  display              : inline-block;
  line-height          : 1;
  /* min-height        : 40px; */
  white-space          : nowrap;
  cursor               : pointer;
  border               : 1px solid #dcdfe6;
  -webkit-appearance   : none;
  text-align           : center;
  box-sizing           : border-box;
  outline              : none;
  margin               : 0;
  margin-left          : 10px;
  transition           : .1s;
  font-weight          : 500;
  padding              : 12px 20px;
  font-size            : 14px;
  border-radius        : 4px;
}

.btn-primary {
  background-color: #409eff;
  border-color    : #409eff;
}

.btn-error {
  background-color: #f56c6c;
  border-color    : #f56c6c;
}