.upload {
  width: 100%;
  height: 100%;
  --side-len: 244px;
}

.upload-input{
  display: none;
}

.upload-actions{
  text-align: end;
}

.upload-actions i{
  cursor: pointer;
  padding: 1px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
}

.upload-show{
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--side-len));
  gap: 5px;
  border: 1px dashed #aaa;
  border-radius: 4px;
  padding: 5px;
}

.upload-show-drag{
  border: 2px solid rgb(70, 70, 70);
}

.upload-btn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: gray;
  cursor: pointer;
  font-size: 14px;
  width: var(--side-len);
  height: var(--side-len);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  background-color: var(--bgColor);
}

.upload-btn i{
  font-size: 100px;
}

.upload-show-item{
  width: var(--side-len);
  height: var(--side-len);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  background-color: var(--bgColor);
}

/* @media only screen and (max-width: 500px) {
  .upload-show-item {
    display: none;
  }
} */