.App {
  height: 100%;
  width: 100%;
  --bgColor:rgba(255, 255, 255, 0.8);
  --bg2Color:#909399 ;
  --ftColor: black;
  --ft2Color: gray;
  --headerHeight:52px;
  --asideWidth:300px;
  --asideLeft:-300px;
}

.App-header {
  position: fixed;
  top: 0;
  z-index: 245;
  height: var(--headerHeight);
  width: 100%;
  box-sizing: border-box;
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  background: var(--bgColor);
  box-shadow: 0 1px 6px 3px rgb(32 33 36 / 28%);
}

.App-header h2{
  margin: 0;
}

.header-icons{
  padding-top: 3px;
}

.header-icon{
  cursor: pointer;
  font-size: 24px;
}

.App-aside{
  z-index: 244;
  position: fixed;
  left: var(--asideLeft);
  width: var(--asideWidth);
  bottom: 0;
  height: calc(100% - 52px);
  background-color: var(--bgColor);
  transition:left 0.4s;
  overflow: auto;
  box-shadow: 1px 0 6px 3px rgb(32 33 36 / 28%);
}

.aside-folder{
  left: 0;
}

@media only screen and (max-width: 680px) {
  .container-folder{
    filter: blur(5px);
  }
}

@media only screen and (min-width: 681px) {
  .container-folder{
    margin-left: var(--asideWidth);
  }
}

.Main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 62px;
  transition: margin-left 0.4s;
  box-sizing: border-box;
  height: calc(100vh - 62px);
}

.Main{
  background-color: var(--bgColor);
  width: min(1310px, 88%);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: calc(100% - 10px);
  box-sizing: border-box;
  overflow: auto;
}

.App-uploader {
  width: 100%;
  margin: 5px 0;
}

.App-url-show{
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
}