html {
  height               : 100%;
  background           : url(https://api.xhofe.top/img/api/);
  background-size      : cover;
  background-repeat    : no-repeat;
  background-position  : center;
  background-attachment: fixed;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  transition: 1s;
}

a {
  color: #61dafb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
