.message-box {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message {
  min-width      : 380px;
  box-sizing     : border-box;
  border-radius  : 4px;
  border         : 1px solid #ebeef5;
  transition     : opacity .3s, transform .4s, top .4s;
  transition     : opacity 0.3s, transform .4s, top .4s;
  overflow       : hidden;
  padding        : 10px;
  display        : flex;
  justify-content: center;
  align-items    : center;
}

.message-info {
  background-color: #f4f4f5;
  border-color    : #e9e9eb;
  color           : #909399;
}

.message-success {
  background-color: #f0f9eb;
  border-color    : #e1f3d8;
  color           : #67c23a;
}

.message-warning {
  background-color: #fdf6ec;
  border-color    : #faecd8;
  color           : #e6a23c;
}

.message-error {
  background-color: #fef0f0;
  border-color    : #fde2e2;
  color           : #f56c6c;
}

.message-content {}